* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px; /* Defina a largura máxima dos produtos para evitar que ocupem a largura total da tela */
    margin: 56px auto; /* Centralize os produtos na página */
    display: grid; /* Use CSS Grid para definir o layout */
    grid-template-columns: repeat(3, 1fr); /* Crie 3 colunas com largura igual */
    gap: 1%; /* Adicione espaçamento entre as colunas */
}

.produto {
    border: 1px solid #ccc; /* Adicionando uma borda ao redor do bloco produto */
    padding: 10px; /* Adicionando um preenchimento interno */
    box-sizing: border-box; /* Certifique-se de que a largura inclui o preenchimento e a borda */
}

.produto__imagem {
    width: 100%; /* Fazendo a imagem ocupar 100% da largura do seu contêiner */
}

.produto__nome {
    font-size: 1.2em;
    margin: 8px 0;
}

.produto__descricao {
    color: gray;
}

.produto--destaque {
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}
